{% extends "head.html" %}

{% block body %}
    <style>
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .login-form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .login-form .error_box {
            border: 2px solid #ff4d4a;
            padding: 15px;
        }

        .login-form input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            font-size: 14px;
            box-sizing: border-box;
        }

        .login-form input[type=submit] {
            color: #FFFFFF;
            background: #4CAF50;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }

        .login-form input[type=submit]:hover {
            background: #43A047;
        }

        body {
            background: #76b852;
        }
    </style>

    <body>
    <div class="login-page">
        <form class="login-form" action="{{ url_for('login') }}" method="post">
            {% if error_msg %}
                <p class="error_box">{{ error_msg }}</p>
            {% endif %}
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Login"/>
        </form>
    </div>
    </body>
{% endblock %}
